#ask_product_form .main-content{
    padding: 0 0.5em 0.5em;
}

.feature-section-wrapper {
}

.heading-subheading .pep-wn-head {
    padding: 50px 0 30px 0;
    text-align: center;
}

.pep-wn-head a {
    text-decoration: none;
}

.feature-image {
    border-radius: 5px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

div.pep-wn-img-section {
    margin: auto;
    width: 80%;
}

.pep-wn-img-section a {
    box-shadow: none;
    display: block;
}

.features-content {
    padding: 20px 0 15px 0;
}

.features-content ul {
    list-style-type: disc;
    margin-left: 15px;
}

.pep-wn-section-other {
    padding: 10px 20px;
    background-color: #f0f8ff;
    border-radius: 5px;
}
.pep-wn-section-other ul {
    list-style-type: disc;
    margin-left: 15px;
}

h2.csp-wn-subhead {
    font-size: 22px;
}

.pep-cta {
    padding-top: 20px;
    text-align: center;
}
